@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body{
  margin: 0;
}

/*.container {*/
  /*overflow: auto;*/
  /*position: relative;*/
/*}*/

.photo {
  background-image: url('https://cdn2.geckoandfly.com/wp-content/uploads/2018/03/ios-11-3840x2160-4k-5k-beach-ocean-13655.jpg');
  background-size: cover;
  display: block;
  filter: blur(10px);
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: -1;
}

img {
  border-radius: 8px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.8);
  display: block;
  height: 810px;
  left: 135px;
  object-fit: cover;
  position: fixed;
  top: 135px;
  width: 810px;
}

.temp {
  bottom: -150px;
  color: #fff;
  font-weight: 900;
  font-size: 200px;
  letter-spacing: -4px;
  left: 40px;
  position: absolute;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.weather {
  bottom: -60px;
  color: #fff;
  font-weight: 900;
  font-size: 140px;
  letter-spacing: -2px;
  right: 40px;
  position: absolute;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
